body {
  background: url("../images/homeImage.jpg"),no-repeat;
  background-size: 100%;
  color: #666666;
  font-family: 'RobotoDraft', 'Roboto', sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Pen Title */
.pen-title {
  padding: 50px 0;
  text-align: center;
  letter-spacing: 2px;
}
.pen-title h1 {
  margin: 0 0 20px;
  font-size: 48px;
  font-weight: 300;
}
.pen-title span {
  font-size: 12px;
}
.pen-title span .fa {
  color: #ed2553;
}
.pen-title span a {
  color: #ed2553;
  font-weight: 600;
  text-decoration: none;
}


/* Scroll To Bottom */
#codepen, #portfolio {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background: #363636;
  width: 56px;
  height: 56px;
  border-radius: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: 0.3s ease;
  color: #ffffff;
  text-align: center;
}
#codepen i, #portfolio i {
  line-height: 56px;
}
#codepen:hover, #portfolio:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

/* CodePen */
#portfolio {
  bottom: 96px;
  right: 36px;
  background: #ed2553;
  width: 44px;
  height: 44px;
  -webkit-animation: buttonFadeInUp 1s ease;
  animation: buttonFadeInUp 1s ease;
}
#portfolio i {
  line-height: 44px;
}

/* Container */
.container {
  position: relative;
  max-width: 460px;
  width: 100%;
  margin: 0 auto 100px;
}
.container.active .card:first-child {
  background: #f2f2f2;
  margin: 0 15px;
}
.container.active .card:nth-child(2) {
  background: #fafafa;
  margin: 0 10px;
}
.container.active .card.alt {
  top: 20px;
  right: 0;
  width: 100%;
  min-width: 100%;
  height: auto;
  border-radius: 5px;
  padding: 60px 0 40px;
  overflow: hidden;
}
.container.active .card.alt .toggle {
  position: absolute;
  top: 40px;
  right: -70px;
  box-shadow: none;
  -webkit-transform: scale(10);
  transform: scale(10);
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
}
.container.active .card.alt .toggle:before {
  content: '';
}
.container.active .card.alt .title,
.container.active .card.alt .input-container,
.container.active .card.alt .button-container {
  left: 0;
  opacity: 1;
  visibility: visible;
  transition: .3s ease;
}
.container.active .card.alt .title {
  transition-delay: .3s;
}
.container.active .card.alt .input-container {
  transition-delay: .4s;
}
.container.active .card.alt .input-container:nth-child(2) {
  transition-delay: .5s;
}
.container.active .card.alt .input-container:nth-child(3) {
  transition-delay: .6s;
}
.container.active .card.alt .button-container {
  transition-delay: .7s;
}

#errorLoginMes{
	color:red;
	text-align:center;
	top:-20px;
	margin-bottom:30px;
	font-size:18px;
	display:none;
}

/*"I am an employee" log in text*/
.employLogIn{
	color: #a09090;
	font-size: 13px;
	font-weight: 300;
	float:right;
	transform:translate(-8px,5px);
}
/* Card */
.card {
  position: relative;
  background: #ffffff;
  border-radius: 5px;
  padding: 60px 0 40px 0;
  box-sizing: border-box;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: .3s ease;
  /* Title */
  /* Inputs */
  /* Button */
  /* Footer */
  /* Alt Card */
}
.card:first-child {
  background: #fafafa;
  height: 10px;
  border-radius: 5px 5px 0 0;
  margin: 0 10px;
  padding: 0;
}
.card .title {
  position: relative;
  z-index: 1;
  border-left: 5px solid #ed2553;
  margin: 0 0 35px;
  padding: 10px 0 10px 50px;
  color: #ed2553;
  font-size: 32px;
  font-weight: 600;
  text-transform: uppercase;
}
.card .input-container {
  position: relative;
  margin: 0 60px 50px;
}
.card .input-container input {
  outline: none;
  z-index: 1;
  position: relative;
  background: none;
  width: 100%;
  height: 60px;
  border: 0;
  color: #212121;
  font-size: 24px;
  font-weight: 400;
}
.card .input-container input:focus ~ label {
  color: #9d9d9d;
  -webkit-transform: translate(-12%, -50%) scale(0.75);
          transform: translate(-12%, -50%) scale(0.75);
}
.card .input-container input:focus ~ .bar:before, .card .input-container input:focus ~ .bar:after {
  width: 50%;
}
.card .input-container input:valid ~ label {
  color: #9d9d9d;
  -webkit-transform: translate(-12%, -50%) scale(0.75);
          transform: translate(-12%, -50%) scale(0.75);
}
.card .input-container label {
  position: absolute;
  top: 0;
  left: 0;
  color: #757575;
  font-size: 24px;
  font-weight: 300;
  line-height: 60px;
  transition: 0.2s ease;
}
.card .input-container .bar {
  position: absolute;
  left: 0;
  bottom: 0;
  background: #757575;
  width: 100%;
  height: 1px;
}
.card .input-container .bar:before, .card .input-container .bar:after {
  content: '';
  position: absolute;
  background: #ed2553;
  width: 0;
  height: 2px;
  transition: .2s ease;
}
.card .input-container .bar:before {
  left: 50%;
}
.card .input-container .bar:after {
  right: 50%;
}
.card .button-container {
  margin: 0 60px;
  text-align: center;
}
.card .button-container button {
  outline: 0;
  cursor: pointer;
  position: relative;
  display: inline-block;
  background: 0;
  width: 240px;
  border: 2px solid #e3e3e3;
  padding: 20px 0;
  font-size: 24px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  overflow: hidden;
  transition: .3s ease;
}
.card .button-container button span {
  position: relative;
  z-index: 1;
  color: #ddd;
  transition: .3s ease;
}
.card .button-container button:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  background: #ed2553;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin: -15px 0 0 -15px;
  opacity: 0;
  transition: .3s ease;
}
.card .button-container button:hover, .card .button-container button:active, .card .button-container button:focus {
  border-color: #ed2553;
}
.card .button-container button:hover span, .card .button-container button:active span, .card .button-container button:focus span {
  color: #ed2553;
}
.card .button-container button:active span, .card .button-container button:focus span {
  color: #ffffff;
}
.card .button-container button:active:before, .card .button-container button:focus:before {
  opacity: 1;
  -webkit-transform: scale(10);
  transform: scale(10);
}
.card .footer {
  margin: 40px 0 0;
  color: #d3d3d3;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
}
.card .footer a {
  color: inherit;
  text-decoration: none;
  transition: .3s ease;
}
.card .footer a:hover {
  color: #bababa;
}
.card.alt {
  position: absolute;
  top: 40px;
  right: -70px;
  z-index: 10;
  width: 140px;
  height: 140px;
  background: none;
  border-radius: 100%;
  box-shadow: none;
  padding: 0;
  transition: .3s ease;
  /* Toggle */
  /* Title */
  /* Input */
  /* Button */
}
.card.alt .toggle {
  position: relative;
  background: #ed2553;
  width: 140px;
  height: 140px;
  border-radius: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  color: #ffffff;
  font-size: 58px;
  line-height: 140px;
  text-align: center;
  cursor: pointer;
}
.card.alt .toggle:before {
  content: '\f040';
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}
.card.alt .title,
.card.alt .input-container,
.card.alt .button-container {
  left: 100px;
  opacity: 0;
  visibility: hidden;
}
.card.alt .title {
  position: relative;
  border-color: #ffffff;
  color: #ffffff;
}
.card.alt .title .close {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 60px;
  display: inline;
  color: #ffffff;
  font-size: 58px;
  font-weight: 400;
}
.card.alt .title .close:before {
  content: '\00d7';
}
.card.alt .input-container input {
  color: #ffffff;
}
.card.alt .input-container input:focus ~ label {
  color: #ffffff;
}
.card.alt .input-container input:focus ~ .bar:before, .card.alt .input-container input:focus ~ .bar:after {
  background: #ffffff;
}
.card.alt .input-container input:valid ~ label {
  color: #ffffff;
}
.card.alt .input-container label {
  color: rgba(255, 255, 255, 0.8);
}
.card.alt .input-container .bar {
  background: rgba(255, 255, 255, 0.8);
}
.card.alt .button-container button {
  width: 100%;
  background: #ffffff;
  border-color: #ffffff;
}
.card.alt .button-container button span {
  color: #ed2553;
}
.card.alt .button-container button:hover {
  background: rgba(255, 255, 255, 0.9);
}
.card.alt .button-container button:active:before, .card.alt .button-container button:focus:before {
  display: none;
}

/* Keyframes */
@-webkit-keyframes buttonFadeInUp {
  0% {
    bottom: 30px;
    opacity: 0;
  }
}
@keyframes buttonFadeInUp {
  0% {
    bottom: 30px;
    opacity: 0;
  }
}

.big_container{
	width:75%;
	margin-left:12%;
	font-family:helvetica;
}

/*the text on the "next" button on the register form*/
.next_text{
	text-decoration:none;
}



/* register_info page*/
.RegInfoContainer{
  position: relative;
  max-width: 1060px;
  width: 100%;
  margin: 0 auto 100px;
}

#ppp{
	position:relative;
	font-size:20px;
	top: -22px;
	left:230px;
	height:25px;
}

#PPP_description{
	font-size:21px;

}

/*page of list of profiles */
#profile_list_background{
		background-image:none;
		background-color:#D4D0D4;
}

.profile_list_band{
	height: 130px;
    min-width: 980px;
	background-color:#FFB6C1;
}
.logo{
	width:480px;
	height:130px;
}

#profile_setting_navBar{
	background-color:#46CB28;
	height:59px;
	width:50%;
	margin-top:20px;
	margin-left:20%;
	border-color:#070606;
	border-radius:40px;
	
}

.pink_button_block{
	background-color:#ed2553;
	width:9%;
	height:35px;
	color:white;
	border-radius:32px;
	margin-bottom:0.5%;
}
.profile_setting_button{
   border: 3px solid #0a3c59;
   background: #65b1d4;
   background: -webkit-gradient(linear, left top, left bottom, from(#65a9d7), to(#65b1d4));
   background: -webkit-linear-gradient(top, #65a9d7, #65b1d4);
   background: -moz-linear-gradient(top, #65a9d7, #65b1d4);
   background: -ms-linear-gradient(top, #65a9d7, #65b1d4);
   background: -o-linear-gradient(top, #65a9d7, #65b1d4);
   background-image: -ms-linear-gradient(top, #65a9d7 0%, #65b1d4 100%);
   padding: 11.5px 23px;
   -webkit-border-radius: 22px;
   -moz-border-radius: 22px;
   border-radius: 22px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   text-shadow: #7ea4bd 0 1px 0;
   color: #06426c;
   font-size: 17px;
   font-family: helvetica, serif;
   text-decoration: none;
   vertical-align: middle;
   width:48%;
   margin-top:4px;
   margin-left:9px;
}

.profile_setting_button:hover {
   border: 3px solid #184039;
   text-shadow: #0b88c2 0 1px 0;
   background: #3e3e9c;
   background: -webkit-gradient(linear, left top, left bottom, from(#65a9d7), to(#3e3e9c));
   background: -webkit-linear-gradient(top, #65a9d7, #3e3e9c);
   background: -moz-linear-gradient(top, #65a9d7, #3e3e9c);
   background: -ms-linear-gradient(top, #65a9d7, #3e3e9c);
   background: -o-linear-gradient(top, #65a9d7, #3e3e9c);
   background-image: -ms-linear-gradient(top, #65a9d7 0%, #3e3e9c 100%);
   color: #fff;
   }
.profile_setting_button:active {
   text-shadow: #57221e 0 1px 0;
   border: 3px solid #401818;
   background: #d66565;
   background: -webkit-gradient(linear, left top, left bottom, from(#9c3e3e), to(#3e3e9c));
   background: -webkit-linear-gradient(top, #9c3e3e, #d66565);
   background: -moz-linear-gradient(top, #9c3e3e, #d66565);
   background: -ms-linear-gradient(top, #9c3e3e, #d66565);
   background: -o-linear-gradient(top, #9c3e3e, #d66565);
   background-image: -ms-linear-gradient(top, #9c3e3e 0%, #d66565 100%);
   color: #fff;
   }
   
#profileBlock{
	height:59px;
	width:50%;
	margin-top:10px;
	margin-left:20%;
	border-color:#070606;
}

.defProImg{
	height:160px;
	width:170px;
	margin:10px;

}

.proImgBlock{
	display:inline-block;
}

.profileName{
	text-align:center;
	margin-top:-10px;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}


/*the following is for the profile page (after user click on a profile)*/
/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* the following CSS codes are for the profile page (after user clicks and enters a profile)*/
.tabPane{
	background-color:#FCDBBE;
}

#dateButton {
  background: #6a31d4;
  background-image: -webkit-linear-gradient(top, #6a31d4, #a52bb8);
  background-image: -moz-linear-gradient(top, #6a31d4, #a52bb8);
  background-image: -ms-linear-gradient(top, #6a31d4, #a52bb8);
  background-image: -o-linear-gradient(top, #6a31d4, #a52bb8);
  background-image: linear-gradient(to bottom, #6a31d4, #a52bb8);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 1px;
  text-shadow: 0px 1px 3px #1010e6;
  font-family: Arial;
  color: #ffffff;
  font-size: 30px;
  padding: 11px 40px 11px 40px;
  text-decoration: none;
  width:32.5%;
  margin-left:3px;
}

#dateButton:hover {
  background: #E97A18;
  background-image: -webkit-linear-gradient(top, #E97A18, #E97A18);
  background-image: -moz-linear-gradient(top, #E97A18, #E97A18);
  background-image: -ms-linear-gradient(top, #E97A18, #E97A18);
  background-image: -o-linear-gradient(top, #E97A18, #E97A18);
  background-image: linear-gradient(to bottom, #E97A18, #E97A18);
  text-decoration: none;
}

#likeButton {
  background: #E53E30;
  background-image: -webkit-linear-gradient(top, #E53E30, #E53E30);
  background-image: -moz-linear-gradient(top, #E53E30, #E53E30);
  background-image: -ms-linear-gradient(top, #E53E30, #E53E30);
  background-image: -o-linear-gradient(top, #E53E30, #E53E30);
  background-image: linear-gradient(to bottom, #E53E30, #E53E30);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 1px;
  text-shadow: 0px 1px 3px #1010e6;
  font-family: Arial;
  color: #ffffff;
  font-size: 30px;
  padding: 11px 40px 11px 40px;
  text-decoration: none;
   width:32.5%;
  margin-left:3px;
}

#likeButton:hover {
  background: #E97A18;
  background-image: -webkit-linear-gradient(top, #E97A18, #E97A18);
  background-image: -moz-linear-gradient(top, #E97A18, #E97A18);
  background-image: -ms-linear-gradient(top, #E97A18, #E97A18);
  background-image: -o-linear-gradient(top, #E97A18, #E97A18);
  background-image: linear-gradient(to bottom, #E97A18, #E97A18);
  text-decoration: none;
}

#discoverButton {
  background: #E53E30;
  background-image: -webkit-linear-gradient(top, #E53E30, #E53E30);
  background-image: -moz-linear-gradient(top, #E53E30, #E53E30);
  background-image: -ms-linear-gradient(top, #E53E30, #E53E30);
  background-image: -o-linear-gradient(top, #E53E30, #E53E30);
  background-image: linear-gradient(to bottom, #E53E30, #E53E30);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 1px;
  text-shadow: 0px 1px 3px #1010e6;
  font-family: Arial;
  color: #ffffff;
  font-size: 30px;
  padding: 11px 40px 11px 40px;
  text-decoration: none;
  width:32.5%;
  margin-left:1px;
}

#discoverButton:hover {
  background: #E97A18;
  background-image: -webkit-linear-gradient(top, #E97A18, #E97A18);
  background-image: -moz-linear-gradient(top, #E97A18, #E97A18);
  background-image: -ms-linear-gradient(top, #E97A18, #E97A18);
  background-image: -o-linear-gradient(top, #E97A18, #E97A18);
  background-image: linear-gradient(to bottom, #E97A18, #E97A18);
  text-decoration: none;
}


#discoverButton {
  background: #29A598;
  background-image: -webkit-linear-gradient(top, #29A598, #29A598);
  background-image: -moz-linear-gradient(top, #29A598, #29A598);
  background-image: -ms-linear-gradient(top, #29A598, #29A598);
  background-image: -o-linear-gradient(top, #29A598, #29A598);
  background-image: linear-gradient(to bottom, #29A598, #29A598);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 1px;
  text-shadow: 0px 1px 3px #1010e6;
  font-family: Arial;
  color: #ffffff;
  font-size: 30px;
  padding: 11px 40px 11px 40px;
  text-decoration: none;
   width:390.5px;
  margin-left:1px;
}

#discoverButton:hover {
  background: #E97A18;
  background-image: -webkit-linear-gradient(top, #E97A18, #E97A18);
  background-image: -moz-linear-gradient(top, #E97A18, #E97A18);
  background-image: -ms-linear-gradient(top, #E97A18, #E97A18);
  background-image: -o-linear-gradient(top, #E97A18, #E97A18);
  background-image: linear-gradient(to bottom, #E97A18, #E97A18);
  text-decoration: none;
}
#referButton {
  background: #E53E30;
  background-image: -webkit-linear-gradient(top, #E53E30, #E53E30);
  background-image: -moz-linear-gradient(top, #E53E30, #E53E30);
  background-image: -ms-linear-gradient(top, #E53E30, #E53E30);
  background-image: -o-linear-gradient(top, #E53E30, #E53E30);
  background-image: linear-gradient(to bottom, #E53E30, #E53E30);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 1px;
  text-shadow: 0px 1px 3px #1010e6;
  font-family: Arial;
  color: #ffffff;
  font-size: 30px;
  padding: 11px 40px 11px 40px;
  text-decoration: none;
   width:32.5%;
  margin-left:3px;
}

#referButton:hover {
  background: #E97A18;
  background-image: -webkit-linear-gradient(top, #E97A18, #E97A18);
  background-image: -moz-linear-gradient(top, #E97A18, #E97A18);
  background-image: -ms-linear-gradient(top, #E97A18, #E97A18);
  background-image: -o-linear-gradient(top, #E97A18, #E97A18);
  background-image: linear-gradient(to bottom, #E97A18, #E97A18);
  text-decoration: none;
}


/**css for the date page**/

.dateImageSection {
    float: left;
    width: 33.33%;
    padding: 5px;
	margin-bottom:3%;
}

.dateProfileName{
	margin-left:12%;
	margin-top:2%;
	font-size:17px;
}

.infoSection{
	font-size:21px;

}

.info{
	margin:2%;
	display:inline;
}



.DateTimeInfo{
	left:10%;
}

.futureDateProImg{
	width:95%;
	margin:10px;

}

.futureDateInfo{
	font-size:15px;
	text-align:center;
}

.futureDateInfoBlock{
	width:170px;
	display:inline-block;
}
/* Clearfix (clear floats) */
.infoContainer::after {
    content: "";
    clear: both;
    display: table;
}

.dateImg{
	width:40%;
	margin-left:3%;
}

.cancelDateButt {
   margin-left:22%;
   border: 1px solid #0a3c59;
   background: #3e779d;
   background: -webkit-gradient(linear, left top, left bottom, from(#65a9d7), to(#3e779d));
   background: -webkit-linear-gradient(top, #65a9d7, #3e779d);
   background: -moz-linear-gradient(top, #65a9d7, #3e779d);
   background: -ms-linear-gradient(top, #65a9d7, #3e779d);
   background: -o-linear-gradient(top, #65a9d7, #3e779d);
   background-image: -ms-linear-gradient(top, #65a9d7 0%, #3e779d 100%);
   padding: 6.5px 13px;
   -webkit-border-radius: 6px;
   -moz-border-radius: 6px;
   border-radius: 6px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   text-shadow: #7ea4bd 0 1px 0;
   color: #06426c;
   font-size: 14px;
   font-family: helvetica, serif;
   text-decoration: none;
   vertical-align: middle;
   }
.cancelDateButt:hover {
   border: 1px solid #0a3c59;
   text-shadow: #1e4158 0 1px 0;
   background: #3e779d;
   background: -webkit-gradient(linear, left top, left bottom, from(#65a9d7), to(#3e779d));
   background: -webkit-linear-gradient(top, #65a9d7, #3e779d);
   background: -moz-linear-gradient(top, #65a9d7, #3e779d);
   background: -ms-linear-gradient(top, #65a9d7, #3e779d);
   background: -o-linear-gradient(top, #65a9d7, #3e779d);
   background-image: -ms-linear-gradient(top, #65a9d7 0%, #3e779d 100%);
   color: #fff;
   }
   

.cancelDateButt:active {
   text-shadow: #1e4158 0 1px 0;
   border: 1px solid #0a3c59;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#3e779d));
   background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
   background: -moz-linear-gradient(top, #3e779d, #65a9d7);
   background: -ms-linear-gradient(top, #3e779d, #65a9d7);
   background: -o-linear-gradient(top, #3e779d, #65a9d7);
   background-image: -ms-linear-gradient(top, #3e779d 0%, #65a9d7 100%);
   color: #fff;
   }
   

/**button for the like page**/
.likeBackButton {
  background: #d93463;
  background-image: -webkit-linear-gradient(top, #d93463, #b82b63);
  background-image: -moz-linear-gradient(top, #d93463, #b82b63);
  background-image: -ms-linear-gradient(top, #d93463, #b82b63);
  background-image: -o-linear-gradient(top, #d93463, #b82b63);
  background-image: linear-gradient(to bottom, #d93463, #b82b63);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
  height:80%
}

.likeBackButton:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.undoLikeButton {
  background: #C9D119;
  background-image: -webkit-linear-gradient(top, #C9D119, #C9D119);
  background-image: -moz-linear-gradient(top, #C9D119, #C9D119);
  background-image: -ms-linear-gradient(top, #C9D119, #C9D119);
  background-image: -o-linear-gradient(top, #C9D119, #C9D119);
  background-image: linear-gradient(to bottom, #C9D119, #C9D119);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
  height:80%
}

.undoLikeButton:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
   
/** button for the discover page**/
.likeProfileButton {
  background: #C9D119;
  background-image: -webkit-linear-gradient(top, #C9D119, #C9D119);
  background-image: -moz-linear-gradient(top, #C9D119, #C9D119);
  background-image: -ms-linear-gradient(top, #C9D119, #C9D119);
  background-image: -o-linear-gradient(top, #C9D119, #C9D119);
  background-image: linear-gradient(to bottom, #1975D1, #1975D1);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
  height:80%
}

.likeProfileButton:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

/** for the like page**/

#likeHeading{
	margin-top: 20px;
	margin-bottom:32px;
	margin-left:12px;
	text-shadow:1px 1px 1px rgba(122,220,255,1);
	font-weight:normal;
	color:#EE1D0B;
	background-color:#FFFFFF;
	letter-spacing:0pt;
	word-spacing:4pt;
	font-size:39px;
	text-align:left;
	font-family:comic sans, comic sans ms, cursive, verdana, arial, sans-serif;
	line-height:1;
}

#pastDateHeading{
	margin-top: 20px;
	margin-bottom:32px;
	margin-left:12px;
	text-shadow:1px 1px 1px rgba(122,220,255,1);
	font-weight:normal;
	color:#B40BEE;
	background-color:#FFFFFF;
	letter-spacing:0pt;
	word-spacing:4pt;
	font-size:39px;
	text-align:left;
	font-family:comic sans, comic sans ms, cursive, verdana, arial, sans-serif;
	line-height:1;
}
#futureDateHeading{
	margin-top: 5%;
	margin-bottom:32px;
	margin-left:12px;
	text-shadow:1px 1px 1px rgba(122,220,255,1);
	font-weight:normal;
	color:#32B6A6;
	background-color:#FFFFFF;
	letter-spacing:0pt;
	word-spacing:4pt;
	font-size:39px;
	text-align:left;
	font-family:comic sans, comic sans ms, cursive, verdana, arial, sans-serif;
	line-height:1;	
}


.commentBox{
	margin-left:1.5%;	
}


.post_button{
   	background-color:#ed2553;
	width:9%;
	height:35px;
	color:white;
	border-radius:32px;
	margin-left:44%;
}


#pendingDateHeading{
	margin-top: 5%;
	margin-bottom:32px;
	margin-left:12px;
	text-shadow:1px 1px 1px rgba(122,220,255,1);
	font-weight:normal;
	color:#EE2A07;
	background-color:#FFFFFF;
	letter-spacing:0pt;
	word-spacing:4pt;
	font-size:39px;
	text-align:left;
	font-family:comic sans, comic sans ms, cursive, verdana, arial, sans-serif;
	line-height:1;	
}

.InfoBlock{
	width:120px;
	text-align:center;
	margin:30px;
	display:inline-block;
	color:#000000;
	font-size:15px;
	font-family:tahoma, verdana, arial, sans-serif;
}



.likerImg{
	height:160px;
	width:170px;
	margin:10px;
	
}

.profileInfoBlock{
	font-size:20px;
	margin-right:70%;
	
}



